<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungleCare</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body class="grey-bg">

    <%- include('nav.ejs') %>

        <div class="main-content with-background">
            <div class="overlay">
                <h1>맨손으로 눈사람을 만든 이들처럼<br> 튼튼한 Jungler가 됩시다!</h1>
            </div>
        </div>



</body>

</html>